.filters {
    margin: 30px 0;
}

// ng-deep para componentes gerados
::ng-deep {

    .mat-mdc-select-panel {
        background-color: white;
    }

    .mdc-line-ripple--active::after {
        border: none !important;
    }

    .mat-mdc-option,
    .mcd-list-item {
        background-color: white;
    }

    .mat-mdc-option:hover:not(.mdc-list-item--disabled),
    .mat-mdc-option:focus.mdc-list-item,
    .mat-mdc-option.mat-mdc-option-active.mdc-list-item,
    .mat-mdc-option.mdc-list-item--selected:not(.mat-mdc-option-multiple):not(.mdc-list-item--disabled) {
        background-color: gray;
    }

    .mat-mdc-text-field-wrapper {
        background-color: white !important;
        color: black !important;
    }

    .mdc-floating-label,
    .mat-mdc-select-value {
        color: black !important;
    }

    .mdc-list-item__primary-text {
        color: black !important;
    }

    .mat-primary .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-minimal::after,
    .mat-primary .mat-pseudo-checkbox-indeterminate.mat-pseudo-checkbox-minimal::after {
        color: black;
    }
}

.games {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
}