<div class="content">
  <div class="filters">
    <mat-form-field>
      <mat-label>Sort</mat-label>
      <mat-select
        panelClass="sort-select"
        [(ngModel)]="sortBy"
        (selectionChange)="searchGames(sortBy)"
      >
        <mat-option
          *ngFor="let sort of sortByOptions | keyvalue"
          [value]="sort.value"
          >{{ sort.key }}</mat-option
        >
      </mat-select>
    </mat-form-field>
  </div>

  <div class="games">
    <ng-container *ngFor="let game of games">
      <app-game-card [game]="game"></app-game-card>
    </ng-container>
  </div>
</div>
