<div class="game">
  <div class="game-thumb-container">
    <img
      src="https://image.api.playstation.com/vulcan/ap/rnd/202212/0522/Dzry5RAwU9HsJGXZ3PUSYgCa.jpg"
      alt="thumbnail"
      class="game-thumbnail"
    />
  </div>
  <div class="game-description">
    <p class="game-name">Diablo 4</p>
    <p class="game-short-description">AAAAAAAaaaaa aaaaaaaaa aaaaaaaaa aaaaaaa</p>
    <div class="game-platforms">
      <img
        src="https://seeklogo.com/images/P/playstation-logo-B8010082E9-seeklogo.com.png"
        alt="slug"
      />
    </div>
  </div>
</div>
